<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>

<body>
<div class="page-top" style="width: 100%; height: 3px; background-color: darkred">
</div>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alpine Admin Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/book/add}">Add a New Book</a></li>
                        <li><a th:href="@{/book/bookList}">View Book List</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Featured</li>
                        <li><a href="#">Best Sellers</a></li>
                        <li><a href="#">New Offers</a></li>
                    </ul>

                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Log out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts"></div>

</body>

</html>