<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"></head>

<body>
<div class="page-top" style="width: 100%; height: 1px; background-color: lightgreen">
</div>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alpine Bookstore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Home</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/bookshelf}">Browse the Bookshelf</a></li>
                        <li><a href="#">Store Hours &#38; Location</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Featured</li>
                        <li><a href="#">Best Sellers</a></li>
                        <li><a href="#">New Offers</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Book Title" />
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <li class="active"><a href="common">Shopping Cart <span class="sr-only">(current)</span></a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}">My Account</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">My Account</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-10">
            <h2 class="section-headline"><span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'">User</span></h2>
        </div>
        <div class="col-xs-2">
            <img src="/images/logo-resized.png" class="img-responsive" alt="logo" width="128" height="128"/>
        </div>
    </div>
    <hr style="position:absolute; width:100%; height:6px; background-color: #333; z-index:-1; margin-top:33px;" />
    <img class="img-responsive" src="/images/wood.jpeg" style="margin-top: 120px;" alt="wood"/>
    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a class="btn btn-primary" th:href="@{/bookshelf}">Continue Shopping</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-primary" th:href="@{/checkout(id=${shoppingCart.id})}">Check Out</a>
                </div>
            </div>
            <br />
            <div th:if="${notEnoughStock}" class="alert alert-warning">
                Some of the products don't have enough stock. Please update product quantity!
            </div>
            <div th:if="${emptyCart}" class="alert alert-warning">
                Your cart is empty. Please check out our bookshelf for somme books you like.
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <h4>Products</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Price</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Quantity</h4>
                </div>
            </div>
            <!-- Display products in cart -->
            <div class="row" th:each="cartItem : ${cartItemList}">
                <form th:action="@{/shoppingCart/updateCartItem}" method="post">
                    <hr/>
                    <div class="col-xs-2">
                        <a th:href="@{bookDetails(id=${cartItem.book.id})}">
                            <img class="img-responsive shelf-book" th:src="#{adminPath}+@{/images/book/}+${cartItem.book.id}+'.png'">
                        </a>
                        <p th:if="${cartItem.book.inStockNumber&gt;10}" style="color: green;">In Stock</p>
                        <p th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}" style="color: green;">Only <span th:text="${cartItem.book.inStockNumber}"></span>In Stock</p>
                        <p th:if="${cartItem.book.inStockNumber==0}" style="color: darkred;">Out of Stock</p>
                    </div>
                    <div class="col-xs-2">
                        <h5 style="color:#db3208; font-size:large;">$<span th:text="${cartItem.book.ourPrice}" th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span></h5>
                    </div>
                    <div class="col-xs-2">
                        <input hidden="hidden" name="id" th:value="${cartItem.id}" />
                        <input th:id="${cartItem.id}" th:name="qty" th:disabled="${cartItem.book.inStockNumber==0}" class="form-control cartItemQty" th:value="${cartItem.qty}">
                        <button style="display: none;" th:id="'update-item-'+${cartItem.id}" type="submit" class="btn btn-warning btn-xs">Update</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <hr />
                <h4 class="col-xs-12 text-right">
                    <strong style="font-size: large;">Total Price (<span
                            th:text="${#lists.size(cartItemList)}"></span> items):
                    </strong> <span style="color: #db3208; font-szie: large;">$<span
                        th:text="${shoppingCart.grandTotal}"></span></span>
                </h4>
            </div>

        </div>
    </div>

</div>
<!-- end of container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>